:root {
    --verde-oscuro: #2f3e46;
    --verde-semioscuro: #354f52;
    --verde-medio: #52796f;
    --verde-claro: #84a98c;
    --gris-verde: #cad2c5;
    --gris-verde-2: rgb(228, 236, 223);
    --blanco: #ffffff;
}

html, body {
    height: 100%; /* Asegúrate de que el body y el html ocupen el 100% de la altura */
    margin: 0; /* Elimina el margen por defecto */
    font-family: "Roboto", sans-serif;
    overflow-y: auto;
    background: url('/images/login.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    background-color: var(--verde-claro);
    display: flex; /* Usar Flexbox para centrar */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.login {
    background: transparent; /* Fondo blanco para el formulario */
    backdrop-filter: blur(20px);
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 3.5rem 2rem;
    width: 420px;
    border: rgba(255, 255, 255, 0.2);

}

.login form {
    margin: 0;
}

.login form div {
    position: relative;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 0.5rem;
}

.login form div box-icon{
    position: absolute;
    top: 0;
    right: 30px;
    transform: translateY(25px);
}

.login form div input{
    border: 1px #d9d9d9 solid;
    padding: 1rem;
    width: 90%;
    border-radius: 40px;
    outline-color: var(--verde-medio);
    font-size: 20px;
    
}

.login form div input::placeholder{
    font-size: 16px;
    color: var(--verde-medio);
    text-transform: uppercase;
}

.login form button{
    text-decoration: none;
    background-color: var(--verde-semioscuro);
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    padding: 0.75rem;
    border-radius: 4px;
    transition: background-color 500ms ease-out;
    border: 0;
    width: 100%;
    height: 45px;
    border-radius: 40px;
}

.login form button:hover{
    background-color: #768d90;

}

.botones {
    display: flex;
    justify-content: center;
}

.registrarse{
    text-decoration: none;
    background-color: #2a2a2a;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    padding: 0.75rem;
    border-radius: 4px;
    transition: background-color 500ms ease-out;
    border: 0;
}

.registrarse:hover{
    background-color: #9f9f9f;

}

.titulo {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.titulo h1 {
    color: #fff;
    font-size: 36px;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.titulo h6{
    color: #d9d9d9;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.error {
    padding: 1rem;
    color: red;
    background-color: #f1b6b6;
}